/************ MEDIA QUERIES ************/

/* =================
 MEDIA QUERY >425px
==================== */

@media screen and (min-width: 425px) {
  #home-copy {
    margin: 0 10%;
  }
}

/* =================
 MEDIA QUERY >745px
==================== */

@media screen and (min-width: 745px) {
  /* header {
    text-align: left;
  } */
  #blog {
    padding: 0 25% 0 25%;
  }
  #home {
    flex-direction: row;
    max-width: 800px;
  }
  #home-copy {
    margin: 0 0 0 5%;
  }
  .gallery {
    padding: 0 25% 0 25%;
  }
}
