/* CSS DIRECTORY
        1. =PRIMARY
        3. =HEADER
        4. =BODY
        4. =FOOTER
*/

/* Validate on CSSLint.net */


/* =================
   PRIMARY SETTINGS
==================== */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #4c4c4c;
}

.App {
  background-color: #FEE140;
  background-image: linear-gradient(225deg, #FEE140 0%, #FA709A 100%);
  height: 100vh;
}

/* =================
   HEADER SETTINGS
==================== */

header {
  height: 85vh;
  text-align: center;
}

header h1 {
  font-size: 4rem;
  margin: 0;
  font-family: 'Rouge Script', cursive;
  padding-top: 1rem;
}

header h2 {
  font-size: 3rem;
  padding-top: 20vh
}

button {
  font-size: 1rem;
  justify-content: center;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  font-family: 'Lato', sans-serif;
  color: #4c4c4c;
}

/* =================
   BODY SETTINGS
==================== */

#blogposts {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-top: 3rem;
}

.title {
  font-size: 2em;
}

img {
  max-width: 100%;
  height: auto;
}

.gallery-row {
  display: none;
}

/* =================
   FOOTER SETTINGS
==================== */

footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 1rem;
}
